* text=auto eol=lf
*.py text eol=lf
*.js text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.png binary
*.jpg binary
*.jpeg binary

/tests export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
